name: Continuous Integration
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Python Lint Code Scanning Action
        uses: advanced-security/python-lint-code-scanning-action@v1.1.1
        with:
          linter: pylint

  discord:
    uses: Sniddl/discord-commits@v1.6
    with:
      webhook: ${{ secrets.DISCORD_WEBHOOK }}
      template: "avatar-with-link"
      include-extras: true
